body
{
    background-color:rgb(197, 197, 230);
}
.calculator {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;

}

/* Estilo para el campo de entrada de texto */
input[type="text"] {
    width: 90%; /* tamaño del boton largo */
    margin-bottom: 10px; /*margen por cada boton*/
    padding: 10px;/*distancia entre botones arriba y abajo*/
    font-size: 18px; /* tamaño del boton porpixeles dado su texto */
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color:rgb(195, 188, 188);
}
h1{
    text-align: center;
}

/* Estilo para los botones */
input[type="button"] {
    
    font-size: 55px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
   
  
}

/* Estilo para el botón de igual (=) */
input[value="="] {
    background-color: #ff9800;
height: 65px;
text-align: center;
width: 145px;
}


/* Estilo para el botón de borrar (C) */
input[value="C"] ,
input[type="button"][value="D"]{
    background-color: #f44336;
    width: 45px;
}

/* Estilo para los botones numéricos */
input[type="button"][value^="0"],
input[type="button"][value^="1"],
input[type="button"][value^="2"],
input[type="button"][value^="3"],
input[type="button"][value^="4"],
input[type="button"][value^="5"],
input[type="button"][value^="6"],
input[type="button"][value^="7"],
input[type="button"][value^="8"],
input[type="button"][value^="9"]
{
    background-color: #9e9e9e;
}

/* Estilo para los botones de operadores (+, -, *, /) */
input[type="button"][value="+"],
input[type="button"][value="-"],
input[type="button"][value="*"]
 {
    background-color: #607d8b;
    width: 60px;

}
input[type="button"][value="/"]
 {
    background-color: #607d8b;
    width: 50px;

}
 .pta div{
    display: grid;
    grid-column: auto;
 }

 input[type="button"][value="."]
 {
    background-color: #607d8b;
    width: 50px;
text-align: center;

}


 #change-color {
    background-color: #dad8d8;
    color: rgba(126, 126, 126, 0.757);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
 }
 

